body { /*background-image: url('/images/bgjianjie.png');*/ margin: 0; padding: 0; font-size: 12px; font-family: "Microsoft Yahei","\5FAE\8F6F\96C5\9ED1",Tahoma,Arial,Helvetica,STHeiti,"Hiragino Sans GB"; color: #333; }
i, em { font-family: "Microsoft Yahei","\5FAE\8F6F\96C5\9ED1",Tahoma,Arial,Helvetica,STHeiti,"Hiragino Sans GB"; font-style: normal; }
.clearfix:after { content: "."; display: block; visibility: hidden; clear: both; height: 0; font-size: 0; }
.d-page { width: 1200px; margin: 0 auto; }

.d-content { min-height: 450px; margin-top: 2px; }
.d-top { }
.menu .h-nva { }
.d-nvtitle { font-family: "Microsoft Yahei","\5FAE\8F6F\96C5\9ED1",Tahoma,Arial,Helvetica,STHeiti,"Hiragino Sans GB"; text-align: left; height: 37px; padding-left: 10px; line-height: 37px; font-size: 16px; border-bottom: 1px solid #E5D1D1; background: url('/images/daohang_middle.png') repeat-x; }
.d-nvtitle a:hover { color: #f93; cursor: pointer; }
.d-nvtitle .ico { padding-right: 5px; display: block; width: 30px; height: 33px; background: url('/images/daohang.png') 0 9px no-repeat; float: left; }
.d-nvtitle .guai { font-family: SimSun; font-size: 12px; color: #333; padding: 0 5px; }


body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, iframe { margin: 0; padding: 0; }
body, button, input, select, textarea { font-family: tahoma,Arial,"Microsoft YaHei",SimSun; font-size: 12px; line-height: 1.5em; color: #222; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
fieldset, img { border: 0; }
img { vertical-align: top; }
address, caption, cite, dfn, em, th, var, optgroup { font-style: normal; font-weight: normal; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { display: block; margin: 0; padding: 0; }
/* HTML5 */
code, kbd, pre, samp { font-family: courier new,courier,monospace; }
ol, ul, li { list-style: none; }
a { text-decoration: none; color: #222; }
a:hover { color: #052299; }
a:active { color: #052299; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, select, button { vertical-align: baseline; *vertical-align: middle; font-family: tahoma, \5b8b\4f53, arial; font-size: 100%; border: none; background: none; }
input[type=checkbox], input[type=radio] { vertical-align: middle; margin: 0 5px; }
input[type="text"], input[type="password"], textarea { outline-style: none; -webkit-appearance: none; }
textarea { resize: none; }
textarea { overflow: auto; font: 100% tahoma,\5b8b\4f53,arial; }
table { border-collapse: collapse; border-spacing: 0; }
