body { margin: 0 auto; width: 980px; text-align: center; }
 table thead { border-bottom: 2px solid #000080; border: thin solid #000000; background-color: #CCFFFF; }
table tbody { background-color: #CCC; }