body
{
    background-color: #FFC1C1;
    width: 980px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
}
ul li
{
    list-style-type: none;
    float: left;
}
a
{
    color: White;
    text-decoration: none;
}
.page
{
    border: thin solid #FFCCFF;
    width: 980px;
}
.top
{
}
.b_head
{
}
.b_logo
{
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    height: 57px;
    width: 181px;
}
.b_menu
{
    height: 40px;
    background-image: url('/images/m_bg.png');
}
.b_main
{
}
.b_foot
{
}
/*
#mainnav { height: 40px; background: #2c832f; }
#mainnav div { width: 980px; height: 40px; margin: 0 auto; }
#mainnav li { line-height: 40px; font-size: 16px; float: left; margin: 0 1px 0 0; width: 90px; text-align: center; }
#mainnav li img { position: absolute; margin: -3px 0 0 13px; }
#mainnav li a { color: #fff; height: 40px; display: block; height: 40px; padding: 0 20px; }
#mainnav li a:hover, #mainnav .current { background-color: #236926; color: #fff; text-decoration: none; }
*/

.b_menu
{
    height: 40px;
    background: #2c832f;
}
.b_menu li
{
    line-height: 40px;
    font-size: 16px;
    float: left;
    margin: 0 1px 0 0;
    width: 90px;
    text-align: center;
}
.b_menu li a
{
    color: #fff;
    display: block;
    height: 40px;
    padding: 0 20px;
}
.b_menu li a:hover
{
    background-color: #236926;
    color: #fff;
    text-decoration: none;
}
.b_menunav_right
{
   
}
.b_menunav_right ul
{
}
.b_menu_li_right li
{
    
}
.b_submenu_ul a
{
    color: #fff;
    display: block;
    height: 40px;
    padding: 0 20px;
}

