<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--<add key="ConnString" value="Data Source=TANG-PC;Initial Catalog=SZYJKJ;User ID=sa;Password=123" />-->
    <add key="ConnString" value="Data Source=112.74.104.180;Initial Catalog=SZYJKJ;Persist Security Info=True;User ID=sa;Password=Abc123456" />

    <add key="MainDomain" value="wwww.szyjkj.com"></add>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors>
      <error redirect="/404.html" statusCode="404" />
    </customErrors>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>

    <rewrite>
      <rules>
        <clear/>

        <!--伪静态开始-->
        <rule name="index">
          <match url="^index.html$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="/index.aspx"/>
        </rule>

        <!--新闻-->

        <rule name="news">
          <match url="^news.html$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="/news.aspx"/>
        </rule>
        <rule name="news_1">
          <match url="^news/a-(\d+).html$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="/newsdetails.aspx?id={R:1}"/>
        </rule>

        <!--新闻END-->
        <rule name="aboutme">
          <match url="^aboutme.html$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="/aboutme.aspx"/>
        </rule>
        <!--产品-->
        <rule name="product">
          <match url="^product.html$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="/product.aspx"/>
        </rule>

        <rule name="pro_1">
          <match url="^pro/a-(\d+).html$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="/productdesc.aspx?id={R:1}"/>
        </rule>
        <rule name="pro_2">
          <match url="^pro/a-(\d+)-(\d+).html$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="/productdesc.aspx?id={R:1}&amp;pid={R:2}"/>
        </rule>
        <!--产品END-->
        <rule name="lianxi">
          <match url="^lianxi.html$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="/relation.aspx"/>
        </rule>

        <!--搜索-->
        <rule name="search">
          <match url="^search.html$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="/search.aspx"/>
        </rule>
        <rule name="search_1">
          <match url="^search/a-(\w+).html$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="/search.aspx?keywords={R:1}"/>
        </rule>
        <!--搜索END-->
        <!--结束-->


      </rules>
    </rewrite>

    <!--错误-->

  </system.webServer>
</configuration>