.sp150 { width: 150px; float: left; text-align: right; height: 26px; line-height: 26px; margin-right: 2px; font-weight: bold; }
.sp100 { width: 100px; float: left; text-align: right; height: 26px; line-height: 26px; margin-right: 2px; font-weight: bold; }
input[type='text'] { min-width: 200px; border: 1px solid rgb(240, 146, 38); padding: 5px; }
input[type='text']:hover, textarea:hover { box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
textarea { width: 500px; border: 1px solid rgb(240, 146, 38); padding: 5px; }
.edui-body-container { border: 1px solid rgb(240, 146, 38); }
.edui-body-container:hover { box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

.btn-content { float: left; width: 100%; }

.d-admin-content { background: #d97373; width: 100%; }
.e-item { padding-top: 5px; float: left; width: 100%; }
.g-div-e { background: #fff; }
